# Best Selling Mobile Phones  | Exploratory Data Analysis

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/best-selling-mobile-phones/best-selling-mobile-phones.csv
/kaggle/input/best-selling-mobile-phones/total-phone-devices-by-company-2021.csv
/kaggle/input/best-selling-mobile-phones/mobile-phone-brands-by-country.csv
/kaggle/input/best-selling-mobile-phones/Best Selling Mobile Phones 2020.csv

# 1. Importing and Loading the data

In [2]:
df = pd.read_csv('/kaggle/input/best-selling-mobile-phones/best-selling-mobile-phones.csv')

In [3]:
df.head()

,manufacturer,model,form,smartphone,year,units_sold_m
0,Nokia,1100,Bar,No,2003,250.0
1,Nokia,1110,Bar,No,2005,247.5
2,Apple,iPhone 6 and iPhone 6 Plus,Touchscreen,Yes,2014,224.0
3,Nokia,"105 (2013), 105 (2015)",Bar,No,2013,200.0
4,Apple,iPhone 6S and iPhone 6S Plus,Touchscreen,Yes,2015,174.1

In [4]:
df.tail()

,manufacturer,model,form,smartphone,year,units_sold_m
106,LG,G2,Touchscreen,Yes,2013,3.0
107,LeTV,LeEco Le 1s,Touchscreen,Yes,2016,3.0
108,Google,Pixel and Pixel XL,Touchscreen,Yes,2016,2.1
109,Palm,Centro,Keyboard bar,Yes,2007,2.0
110,Nokia,N97,Tilt slider,Yes,2009,2.0

## Printing the dimention of the data

In [5]:
columns = list(df.columns)  # To print all the columns
print(columns)

['manufacturer', 'model', 'form', 'smartphone', 'year', 'units_sold_m']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  111 non-null    object
 1   model         111 non-null    object
 2   form          111 non-null    object
 3   smartphone    111 non-null    object
 4   year          111 non-null    int64
 5   units_sold_m  111 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.3+ KB

In [7]:
df.describe()

              year  units_sold_m
count   111.000000    111.000000
mean   2011.864865     50.447748
std       6.147411     59.167349
min    1996.000000      2.000000
25%    2007.000000     10.000000
50%    2012.000000     24.200000
75%    2018.000000     60.000000
max    2021.000000    250.000000

## Get the sorted values of sold items

In [8]:
df_sorted = df.sort_values('units_sold_m', ascending = False)

In [9]:
df_sorted

,manufacturer,model,form,smartphone,year,units_sold_m
0,Nokia,1100,Bar,No,2003,250.0
1,Nokia,1110,Bar,No,2005,247.5
2,Apple,iPhone 6 and iPhone 6 Plus,Touchscreen,Yes,2014,224.0
3,Nokia,"105 (2013), 105 (2015)",Bar,No,2013,200.0
4,Apple,iPhone 6S and iPhone 6S Plus,Touchscreen,Yes,2015,174.1
...,...,...,...,...,...,...
106,LG,G2,Touchscreen,Yes,2013,3.0
107,LeTV,LeEco Le 1s,Touchscreen,Yes,2016,3.0
108,Google,Pixel and Pixel XL,Touchscreen,Yes,2016,2.1
109,Palm,Centro,Keyboard bar,Yes,2007,2.0
110,Nokia,N97,Tilt slider,Yes,2009,2.0

# 2. Lets do the Data Analysis

In [10]:
top_selling_brand = df.groupby('manufacturer')